* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 100px;
}

.header {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    padding: 15px;
}
.menu {
    display: flex;
    list-style: none;
}
.menu-list {
    color: white;
    margin-left: 20px;
}
  
     
.container-1 {
    background-image: url("https://images5.alphacoders.com/109/1093982.jpg");
    height: 100vh;
    
}

.encabezado-1 {
    
    font-weight:900;
    font-size: 4rem;
    padding: 80px 20px 20px 20px;
}

.encabezado-2 {
    padding: 0 20px;
}

.boton-planes {
    color-scheme: ;
    width: 150px;
    height: 40px;
    background-color: rgb(30, 215, 96);
    border-radius: 25px;
    border: solid 1px rgb(30, 215, 96);
    color: white;
    font-weight: bold;
}

.texto-1 {

}
/*.navigator {
    margin-left: 50px;
}/*